{% extends "base.html" %} 
{% load static %} 
{% block content1 %}
<div class="row">
  <div class="jumbtron jumbtron-fluid  mt-5">
    <h1 class="display">Python</h1>
    <p class="display1">I have completed the Coding Ninjas Python certification, enhancing my programming skills and proficiency in Python development.</p>
  </div>
 
  <div class="jumbtron jumbtron-fluid  mt-2">
    <h1 class="display">CSS</h1>
    <p class="display1">I have completed the HackerRank CSS certification, improving my skills in styling, responsive design, and web development. </p>
  </div>
  <div class="jumbtron jumbtron-fluid  mt-2">
    <h1 class="display">C Programming</h1>
    <p class="display1">I have completed the C programming certification with Ajay Infotech, strengthening my coding skills and understanding of fundamental programming concepts. </p>
  </div>
  <div class="jumbtron jumbtron-fluid  mt-2">
    <h1 class="display">PRECAT</h1>
    <p class="display1">I have completed the PreCAT certification with Sunbeam Institute of CDAC, enhancing my technical skills and foundational knowledge in programming and development.


    </p>
  </div>
</div>

{% endblock content1 %}
