{% extends "base.html" %} {% block content1 %}
<div
  style="min-height: 60vh"
  class="d-flex flex-column align-items-center justify-content-center text-center text-light"
>
  <h1 style="color: #ffaa00">Thank You!</h1>
  <p>
    Your message has been received. I'll get back to you as soon as possible.
  </p>

  <a
    href="/"
    class="btn mt-3"
    style="
      background-color: #ffaa00;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
    "
  >
    Back to Home
  </a>
</div>
{% endblock %}
