body{
  background-color:#1C1C1C;
}
.navbar-nav .nav-link:hover{
  font-weight: bold;
  color:#FFAA00;
  text-align: center;

}
.navbar-nav .nav-link{
  font-size: 20px;
}
.navbar-brand{
  font-size:27px;
  text-shadow:2px 2px 4px #FFAA00;
}
.navbar-dark{
  background-color:#000000;
}
.cirular-image-container{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius:50% ;
  border: 3px solid #FFAA00;

  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-image{
  width: 120%;
  height: auto;
  display: block;
}
.title{
  color: #FFAA00;
}
.name{
  color: white;
  text-shadow:2px 2px 4px #FFAA00;
}
.social_link{
  overflow: hidden;
  border-radius:50% ;
  border: 1px solid #FFAA00;

  display: flex;
  justify-content: center;
  align-items: center;

}

.about_image{
  margin-top: 20px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius:50% ;
  border: 3px solid #FFAA00;
}
.jumbtron {
  border: 3px solid #FFAA00;
  padding: 20px;
  border-radius: 10px;
}

.display{
  color: aliceblue;
  font-size: 24px;

}
.display1{
  color: rgb(179, 187, 194);

}








textarea {
  resize: vertical;
  height: 100px;
}



.btn:hover {
  background: #218838;
}
